@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 220 100% 30%; /* #003399 */

    --card: 0 0% 100%;
    --card-foreground: 220 100% 30%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 100% 30%;

    --primary: 32 100% 50%; /* #FF8800 */
    --primary-foreground: 210 40% 98%;
    
    --secondary: 222 84% 10%; /* #040A38 */
    --secondary-foreground: 210 40% 98%;

    --muted: 220 10% 96%;
    --muted-foreground: 220 10% 45%;

    --accent: 220 10% 96%;
    --accent-foreground: 220 100% 30%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 10% 90%;
    --input: 220 10% 90%;
    --ring: 32 100% 50%;
    --radius: 0.5rem;
    --chart-1: 32 100% 50%;
    --chart-2: 220 100% 30%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  html {
    scroll-behavior: smooth;
  }
}
